/* CSS just for the Calculator Page */
/* CSS for the drop down menu */
.rowHeader {
    background-color: rgb(25, 72, 161);
    color: white;
    text-align: center;
    font-size: 14px;
    border: 2px;
    cursor: pointer;
}

.rowSteps {
    background-color: rgb(25, 72, 161);
    color: white;
    text-align: center;
    font-size: 14px;
    border: 2px;
    cursor: pointer;
}

.roundedTopTable {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.roundedBottomTable {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table>tbody>tr>td {
    border-style: solid;
    background-color: rgba(206, 223, 255, 0.795);
}

.table>tbody>tr>td>div {
    font-size: 12px;
}

.table>tbody>tr>td>div>p>input{
    float:right;
    width: 75px;
    border: 2px;
    border-style:solid;
    border-color: rgb(25, 72, 161);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

._fcpqk4 {
    color: rgb(87, 87, 86);
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 3px;
}

._fcpqk4b {
    color: rgb(87, 87, 86);
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    border-top: dashed 2px; 
}