@font-face {
    font-family: Sky Font;
    font-weight: 250;
    src: url(skyreg-webfont.woff);
}

@font-face {
    font-family: Sky Font;
    src: url(skymed-webfont.woff);
}

body {
    height: 100vh !important;
    width: 100% !important;
    font-family: "Sky Font", Arial, sans-serif;
    background-image: url("background.png");
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.flexContainer {
    background-color: white;
    overflow: auto;
}

.sidebarColumn {
    width:320px;
    overflow-x: hidden;
    overflow-y: scroll;
    }

.columnHeaderContainer {
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background: linear-gradient(rgb(25, 72, 161) 0%, rgb(11, 43, 109) 100%);
}

.columnHeaderText {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.sectionContainer {
    background: linear-gradient(350deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 83%, rgba(255, 255, 255, 0) 83%, rgba(255, 255, 255, 0) 100%) 0% 0% / 100vw 100vh no-repeat, radial-gradient(100vw at 0% 30%, rgba(11, 43, 109, 0.08) 0%, rgba(11, 43, 109, 0.08) 30%, rgba(11, 43, 109, 0.02) 70%, rgba(11, 43, 109, 0.2) 85%, rgba(11, 43, 109, 0.35) 100%);

}

._15faq1v {
    position: relative;
    padding: 15px 15px 30px;
    margin: 0px;
}

._1vebei {
    padding-bottom: 5px;
}

._1sv27e6 {
    -webkit-box-pack: center !important;
    display: flex !important;
    justify-content: center !important;
}

._2f36l4 {
    -webkit-box-align: center !important;
    -webkit-box-pack: justify !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    align-items: center !important;
    position: relative !important;
}

._2f36l4::before {
    z-index: 0 !important;
    content: "" !important;
    position: absolute !important;
    top: 50% !important;
    width: 100% !important;
    transform: translateY(-50%) !important;
    border-top: 1px solid lightgrey !important;
    background: black !important;
}

/* Added the other class in */
._dh4cvfl, ._dh4cvfla {
    -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    position: relative !important;
    user-select: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 25px !important;
    height: 25px !important;

    /* Added this in for now??? */
    /* color: rgb(31, 169, 73) !important; */
    color: white !important;

    box-sizing: border-box !important;
    text-align: center !important;

    /* Added this in for now??? */
    /* background: white !important; */
    background: rgb(31, 169, 73) !important;

    transition: all 0.25s ease-in-out 0s !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(31, 169, 73) !important;
    border-image: initial !important;
}

._dh4cvfl::before {
    /* font-family: coreicons !important; */
    font-style: normal !important;
    content: "1" !important;
    font-weight: bold !important;
}

/* Added this in... */
._dh4cvfla::before {
    /* font-family: coreicons !important; */
    font-style: normal !important;
    content: "2" !important;
    font-weight: bold !important;
}

._1irffvo3 {
    position: relative !important;
    user-select: none !important;
    text-align: center !important;
    display: inline-block !important;
    font-size: 14px !important;
    background: white !important;
    transition: all 0.25s ease-in-out 0s !important;
    overflow: hidden !important;
    border-radius: 20px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: black !important;
    border-image: initial !important;
    padding: 4px 14px !important;
}

._gor68n {
    position: relative !important;
    z-index: 1 !important;
}

._hhjw0fs {
    -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    position: relative !important;
    user-select: none !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 25px !important;
    height: 25px !important;
    box-sizing: border-box !important;
    color: darkgrey !important;
    font-size: 14px !important;
    background: white !important;
    transition: all 0.25s ease-in-out 0s !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: lightgrey !important;
    border-image: initial !important;
}

._1kkmb1zx {
    position: relative !important;
    user-select: none !important;
    text-align: center !important;
    display: inline-block !important;
    font-size: 14px !important;
    color: orange !important;
    background: white !important;
    transition: all 0.25s ease-in-out 0s !important;
    overflow: hidden !important;
    border-radius: 20px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-image: initial !important;
    padding: 4px 14px !important;
    border-color: orange !important;
}

._1kkmb1zx::before {
    font-family: coreicons !important;
    font-style: normal !important;
    /* content: "" !important; */
    margin-right: 4px !important;
}

._5ohjji {
    position: relative;
    /* Changed this as looked weird */
    padding: 0px 15px 0px;
    margin: 0px;
    /* background: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) calc(15vw + 100px), rgba(255, 255, 255, 0.3) calc(15vw + 100px), rgba(255, 255, 255, 0) 100%), radial-gradient(100vw at 0% 30vw, rgb(245, 247, 249) 0%, rgb(253, 253, 254) 55vw, rgb(231, 234, 240) 100vw, rgb(231, 234, 240) 125vw, rgb(214, 219, 230) 150vw, rgb(214, 219, 230) 100%); */
}

._cq2dpz {
    color: rgb(19, 44, 108);
    font-size: 26px;
    font-weight: 250;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;

}

._ia42uj {
    color: rgb(87, 87, 86);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}

._1o74af6 {
    color: rgb(19, 44, 108);
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-decoration: none;
}

._1me9368 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Altered margin top */
    margin-top: 30px;
    margin-bottom: 30px;
    /* Added image sizing */
    width: 190px;
    height: 152px;
}

._rh0gzj {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    /* I added this in */
    font-family: "Sky Font";
    height: 42px;
    margin-top: 25px;
    cursor: pointer;
    /* And changed this */
    width: 90%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(31, 169, 74) 0%, rgb(0, 149, 23) 100%);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 12px;
    /* And added this */
    text-decoration: none;
}

._17edwu9 {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    /* I added this in */
    font-family: "Sky Font";
    height: 42px;
    margin-top: 15px;
    cursor: pointer;
    /* And changed this */
    width: 90%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top, rgb(244, 244, 244), rgb(255, 255, 255));
    border-width: 1px;
    border-style: solid;
    border-color: rgba(19, 44, 108, 0.2);
    border-image: initial;
    border-radius: 4px;
    padding: 12px;
    /* And added this */
    text-decoration: none;
}

._t9n6pf {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    color: rgb(87, 87, 86);
    font-size: 16px;
    height: 48px;
    cursor: pointer;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
    max-width: 300px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(244, 244, 244) 100%);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 212, 228);
    border-image: initial;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
    margin: 0px auto 26px;
}

._t9n6pf::before {
    display: inline-block;
    content: "?";
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    color: white;
    font-weight: 600;
    margin-right: 0.5em;
    background: rgb(31, 169, 74);
    border-radius: 50%;
}

._csjj34 {
    background-color: rgb(255, 255, 255);
    padding: 38px 15px 30px;
}

.zz {
    padding: 0px 15px 20px;
}

._1y52p9j {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 264px;
    margin: 0px auto 15px;
}

._pmwann6 {
    background-image: url(https://static.skybetservices.com/core-static-assets/gamstop-logo.svg);
    display: block;
    height: 12px;
    width: 68px;
    background-size: contain;
    line-height: 0;
    font-size: 0px;
    color: transparent;
    background-repeat: no-repeat;
    margin: 12px;
}

._bqi4508 {
    background-image: url(https://static.skybetservices.com/core-static-assets/begambleaware.svg);
    display: block;
    height: 16px;
    width: 110px;
    background-size: contain;
    line-height: 0;
    font-size: 0px;
    color: transparent;
    background-repeat: no-repeat;
    margin: 12px;
}

._1sa7llz1 {
    background-image: url(https://static.skybetservices.com/core-static-assets/gamcare.svg);
    display: block;
    width: 65px;
    height: 20px;
    background-size: contain;
    line-height: 0;
    font-size: 0px;
    color: transparent;
    background-repeat: no-repeat;
    margin: 12px;
}

._3zz0bxa {
    background-image: url(https://static.skybetservices.com/core-static-assets/gamban-landscape.svg);
    display: block;
    height: 20px;
    width: 68px;
    background-size: contain;
    line-height: 0;
    font-size: 0px;
    color: transparent;
    background-repeat: no-repeat;
    margin: 12px;
}

._ulyfow {
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
    margin: 0px auto;
}

._1x9mbur0 {
    font-weight: 200;
    text-align: center;
    color: rgb(87, 87, 86);
    margin-top: 7px;
}

._hpxwzj {
    font-weight: 400;
    color: rgb(19, 44, 108);
    text-decoration: underline;
}

._7h0wi8 {
    display: block;
    height: 38px;
    width: 38px;
    color: white;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.02em;
    background: rgb(217, 34, 49);
    margin: 0px auto;
    border-radius: 50%;
}

._7h0wi8::after {
    content: "+";
    display: inline-block;
    transform: translateY(-0.15em);
    font-size: 16px;
    margin-right: -3px;
}

.calcPageText {
    color: rgb(87, 87, 86);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 4px;
    text-align: center;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
}