<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/jquery/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link rel="stylesheet" type="text/css" href="calculatorPage.css"/>
</head>

<body>

    <div class="flexContainer">

        <div id="landingPageColumn" class="sidebarColumn">
            
            <div class="columnHeaderContainer">
                <div style="width:58px"></div>
                <h1 class="columnHeaderText">Affordability Check</h1>
                <div style="height: 22px; width:58px; position: relative;"></div>
            </div>

            <div class="sectionContainer">
        <!-- This section is for the Progress Bar -->
                <div class="_gor68n">
                    <div class="_15faq1v">
                        <div class="_1vebei">
                            <div class="_1sv27e6">
                                <div class="_2f36l4">
                                    <div class="_dh4cvfl"><div class="" style="right: 0px;"></div></div>
                                    <div class="_dh4cvfla"><div class="" style="right: 0px;"></div></div>
                                    <div class="_1irffvo3">
                                        <span class="_gor68n">3. Affordability</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_hhjw0fs">
                                        <span>4</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_1kkmb1zx">
                                        <span class="_gor68n">Bonus</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- This section is for the main content -->
                <div class="_5ohjji">
                    <p class="calcPageText">Estimate how much you can afford to gamble with us by entering your <b><u>monthly</u></b> income and spending details into the form provided below:</p>

                <div>  
                    <form action="">
                        <table class="table table-bordered">
                            
                            <tbody>
                            <tr class="rowHeader">
                                <th scope="row" class="roundedTopTable" data-toggle="collapse" href="#incomeDetails">Step 1 of 5 - Income Details</th>
                            </tr>

                            <tr class=""> 
                                <td class="collapse" id="incomeDetails">
                                    <div>
                                        <p>Salary (after deductions)<input type="number" id="salary" name="salary" value="0" onblur="incomeFunction()"></p>
                                        <p>Bonuses<input type="number" id="bonus" name="bonus" value="0" onblur="incomeFunction()"></p>
                                        <p style="padding-bottom:7px">Other Income<input type="number" id="other" name="other" value="0" onblur="incomeFunction()"></p>
                                        <p class="_fcpqk4b"><i>The next two boxes are <u>monthly</u> deductions from your salary and will be taken away from the income figures above.</i></p>
                                        <p>Pension Payments<input type="number" id="pension" name="pension" value="0" onblur="incomeFunction()"></p>
                                        <p>Savings<input type="number" id="savings" name="savings" value="0" onblur="incomeFunction()"></p>
                                        <br>
                                        <p>Total Income<input id="totalincome" type="number" value="0"></p>
                                    </div>
                                </td>
                            </tr>

                            <tr class="rowSteps">
                                <th scope="row" data-toggle="collapse" href="#householdSpending">Step 2 of 5 - Household Spending</th>
                            </tr>

                            <tr class=""> 
                                    <td class="collapse" id="householdSpending">
                                        <div>
                                            <p>Mortgage Payments<input type="number" id="mortgage" name="mortgage" value="0" onblur="householdFunction()"></p>
                                            <p>Rent Payments<input type="number" id="rent" name="rent" value="0" onblur="householdFunction()"></p>
                                            <p>Council Tax<input type="number" id="council" name="council" value="0" onblur="householdFunction()"></p>
                                            <p>Utilities<input type="number" id="utilities" name="utilities" value="0" onblur="householdFunction()"></p>
                                            <p>Broadband/TV/Phone<input type="number" id="tech" name="tech" value="0" onblur="householdFunction()"></p>
                                            <p>Shopping (Food/Drink)<input type="number" id="food" name="food" value="0" onblur="householdFunction()"></p>
                                            <p>Insurance<input type="number" id="insurance" name="insurance" value="0" onblur="householdFunction()"></p>
                                            <br>
                                            <p>Total Household Spending<input id="totalhousehold" type="number" value="0"></p>
                                        </div>
                                    </td>
                                </tr>

                            <tr class="rowSteps">
                                <th scope="row" data-toggle="collapse" href="#otherSpending">Step 3 of 5 - Additional Spending</th>
                            </tr>

                            <tr class=""> 
                                <td class="collapse" id="otherSpending">
                                    <div>
                                        <p>Travel<input type="number" id="travel" name="travel" value="0" onblur="additionalFunction()"></p>
                                        <p>Loan Repayments<input type="number" id="loan" name="loan" value="0" onblur="additionalFunction()"></p>
                                        <p style="padding-bottom:7px">Other Shopping<input type="number" id="othershop" name="othershop" value="0" onblur="additionalFunction()"></p>
                                        <p class="_fcpqk4b"><i>Leave your gambling spending out of the next box as we are going to break that down in more detail in the next section.</i></p>
                                        <p>Leisure/Entertainment<input type="number" id="leisure" name="leisure" value="0" onblur="additionalFunction()"></p>
                                        <br>
                                        <p>Total Additional Spending<input type="number" id="totaladditional" name="totaladditional" value="0"></p>
                                    </div>
                                </td>
                            </tr>

                            <tr class="rowSteps">
                                <th scope="row" data-toggle="collapse" href="#yourGambling">Step 4 of 5 - Your Gambling</th>
                            </tr>

                            <tr class=""> 
                                    <td class="collapse" id="yourGambling">
                                        <div>
                                            <p class="_fcpqk4"><i>Please enter your <u>current</u> monthly spending on gambling prior to signing up to using our services at Sky Bet.</i></p>
                                            <p>Sports Betting<input type="number" id="sports" name="sports" value="0" onblur="gamblingFunction()"></p>
                                            <p>Gaming<input type="number" id="gaming" name="gaming" value="0" onblur="gamblingFunction()"></p>
                                            <p>Other Gambling (E.g. Lottery)<input type="number" id="othergam" name="othergam" value="0" onblur="gamblingFunction()"></p>
                                            <br>
                                            <p>Total Gambling<input type="number" id="totalgambling" name="totalgambling" value="0"></p>

                                        </div>
                                    </td>
                                </tr>

                            <tr class="rowSteps">
                                <th scope="row" class="roundedBottomTable" data-toggle="collapse" href="#review">Step 5 of 5 - Review your Results</th>
                            </tr>

                            <tr class=""> 
                                    <td class="collapse" id="review">
                                        <div>
                                            <p>Total Income<input type="number" id="reviewTotalIncome" name="reviewTotalIncome" value=""></p>
                                            <p>Total Household Spending<input type="number" id="reviewTotalHousehold" name="reviewTotalHousehold" value=""></p>
                                            <p>Total Additional Spending<input type="number" id="reviewTotalAdditional" name="reviewTotalAdditional" value=""></p>
                                            <p>Total Gambling<input type="number" id="reviewTotalGambling" name="reviewTotalGambling" value=""></p>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                </div>

                </div>

                <div class="zz">
        <!-- Start now button div -->
                    <div>
                        <a class="_rh0gzj" style="text-decoration: none; color:white;" data-qa="calculate-button" onclick="calculateValidatedAffordability()">Calculate my affordability</a>
                    </div>
    
        <!-- Skip affordability check button div -->
                    <div>
                        <a class="_17edwu9" style="text-decoration: none; color:inherit;" href="" data-qa="skip-affordability-check" id="skipButton">Skip affordability check</a>
                    </div>
                </div>

        <!-- Footer button div -->
                    <div class="_csjj34">
                            <a class="_t9n6pf" style="text-decoration: none; color:inherit;" href="https://support.skybet.com/app/home?mobile=1" target="_blank" rel="noopener noreferrer" data-qa="footer-help">Need some help?</a>
                        <div class="_1y52p9j">
                                <a class="_pmwann6" href="https://www.gamstop.co.uk/" alt="gamstop logo" target="_blank" rel="noopener noreferrer">Gamstop</a>
                                <a class="_bqi4508" href="https://www.begambleaware.org/" alt="be gamble aware" target="_blank" rel="noopener noreferrer">be gamble aware</a>
                                <a class="_1sa7llz1" href="http://www.gamcare.org.uk/" alt="gamcare" target="_blank" rel="noopener noreferrer">gamcare</a>
                                <a class="_3zz0bxa" href="https://gamban.com/signup/promo/skybet58d/" alt="gamban" target="_blank" rel="noopener noreferrer">gamban</a>    
                        </div>

        <!-- Safer Gambling icons div -->
                        <div class="_ulyfow">
                            <p class="_1x9mbur0">
                                Committed to
                                <a class="_hpxwzj" href="https://support.skybet.com/app/answers/detail/a_id/28?mobile=1" alt="responsible gambling" target="_blank" rel="noopener noreferrer">Responsible Gambling</a>
                            </p>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>

    <script src="calculatorPage.js"></script>
    <script src="vendor/jquery/js/jquery.min.js"></script>
    <script src="vendor/jquery/js/jquery-ui.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>