<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/landingPage.css"/>
</head>

<body>

    <div class="flexContainer">

        <div id="landingPageColumn" class="sidebarColumn">
            
            <div class="columnHeaderContainer">
                <div style="width:58px"></div>
                <h1 class="columnHeaderText">Affordability Check</h1>
                <div style="height: 22px; width:58px; position: relative;"></div>
            </div>

            <div class="sectionContainer">
        <!-- This section is for the Progress Bar -->
                <div class="_gor68n">
                    <div class="_15faq1v">
                        <div class="_1vebei">
                            <div class="_1sv27e6">
                                <div class="_2f36l4">
                                    <div class="_dh4cvfl"><div class="" style="right: 0px;"></div></div>
                                    <div class="_dh4cvfl"><div class="" style="right: 0px;"></div></div>
                                    <div class="_1irffvo3">
                                        <span class="_gor68n">3. Payment</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_hhjw0fs">
                                        <span>4</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_1kkmb1zx">
                                        <span class="_gor68n">Bonus</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- This section is for the main content -->
                <div>
                    <p class="_cq2dpz">Do you want us to estimate how much you can afford to gamble with us?</p>
                    <p class="_ia42uj">To do this we will just need you to enter some details about your finances, this will only take a few minutes of your time.</p>
                    <p class="_ia42uj">By doing this we hope to make gambling with us as fun and safe as possible.</p>
                    <p class="_1o74af6">Learn More</p>
                </div>

        <!-- Start now button div -->
                <div>
                    <a href="calculatorPage.html" style="text-decoration: none;">
                        <button class="_rh0gzj" data-qa="start-button">Start now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>