<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/landingPage.css"/>
</head>

<body>

    <div class="flexContainer">

        <div id="landingPageColumn" class="sidebarColumn">
            
            <div class="columnHeaderContainer">
                <div style="width:58px"></div>
                <h1 class="columnHeaderText">Affordability Check</h1>
                <div style="height: 22px; width:58px; position: relative;"></div>
            </div>

            <div class="sectionContainer">
        <!-- This section is for the Progress Bar -->
                <div class="_gor68n">
                    <div class="_15faq1v">
                        <div class="_1vebei">
                            <div class="_1sv27e6">
                                <div class="_2f36l4">
                                    <div class="_dh4cvfl"><div class="" style="right: 0px;"></div></div>
                                    <div class="_dh4cvfla"><div class="" style="right: 0px;"></div></div>
                                    <div class="_1irffvo3">
                                        <span class="_gor68n">3. Affordability</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_hhjw0fs">
                                        <span>4</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                    <div class="_1kkmb1zx">
                                        <span class="_gor68n">Bonus</span>
                                        <div class="" style="right: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- This section is for the main content -->
                <div class="_5ohjji">
                    <p class="_cq2dpz">Do you want us to estimate how much you can afford to gamble with us?</p>
                    <p class="_ia42uj">To do this we will just need you to enter some details about your finances, this will only take a few minutes of your time.</p>
                    <p class="_ia42uj">By doing this we hope to make gambling with us as fun and safe as possible.</p>
                    <p class="_1o74af6"><a href="https://support.skybet.com/s/article/Know-your-customer-checks-KYC">Learn More</a></p>
                    <img class="_1me9368" src="../images/calculator-svgrepo-com.svg" alt="docs">
                </div>

                <div class="zz">
        <!-- Start now button div -->
                    <div>
                        <a class="_rh0gzj" href="calculatorPage.html" data-qa="start-button">Start now</a>
                    </div>

        <!-- Skip affordability check button div -->
                    <div>
                        <a class="_17edwu9" data-qa="skip-affordability-check" id="skipButton">Skip affordability check</a>
                    </div>
                </div>

        <!-- Footer button div -->
                    <div class="_csjj34">
                            <a class="_t9n6pf" href="https://support.skybet.com/app/home?mobile=1" target="_blank" rel="noopener noreferrer" data-qa="footer-help">Need some help?</a>
                        <div class="_1y52p9j">
                                <a class="_pmwann6" href="https://www.gamstop.co.uk/" alt="gamstop logo" target="_blank" rel="noopener noreferrer">Gamstop</a>
                                <a class="_bqi4508" href="https://www.begambleaware.org/" alt="be gamble aware" target="_blank" rel="noopener noreferrer">be gamble aware</a>
                                <a class="_1sa7llz1" href="http://www.gamcare.org.uk/" alt="gamcare" target="_blank" rel="noopener noreferrer">gamcare</a>
                                <a class="_3zz0bxa" href="https://gamban.com/signup/promo/skybet58d/" alt="gamban" target="_blank" rel="noopener noreferrer">gamban</a>    
                        </div>

        <!-- Safer Gambling icons div -->
                        <div class="_ulyfow">
                            <p class="_1x9mbur0">
                                Committed to
                                <a class="_hpxwzj" href="https://support.skybet.com/app/answers/detail/a_id/28?mobile=1" alt="responsible gambling" target="_blank" rel="noopener noreferrer">Responsible Gambling</a>
                            </p>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</body>
</html>