<!-- This section is for deposit limits -->
                    <form>
                        <label class="_1l2xohz" data-qa="form-label">Set a deposit limit</label>
                        <div class="_syjxre"><div>
                            <label class="_q15j8x">Amount</label>
                            <div class="_10akhyn">
                                <select class="_1jrs90o" data-qa="amount">
                                    <option value="5" disabled="">£5</option>
                                    <option value="25">£25</option>
                                    <option value="50" selected="">£50</option>
                                    <option value="100">£100</option>
                                    <option value="200">£200</option>
                                    <option value="250">£250</option>
                                    <option value="500">£500</option>
                                    <option value="1000">£1000</option>
                                    <option value="2000">£2000</option>
                                    <option value="5000">£5000</option>
                                    <option value="10000">£10000</option>
                                    <option value="20000">£20000</option>
                                    <option value="50000">£50000</option>
                                    <option value="100000">£100000</option>
                                    <option value="0">No Limit</option>
                                </select>
                            </div>
                        </div>
                            <div>
                                <label class="_q15j8x">Duration</label>
                                <div class="_e0cuga">
                                    <button type="button" class="_h9nf1xp" data-qa="daily-duration">Daily</button>
                                    <button type="button" class="_2gi746" data-qa="weekly-duration">Weekly</button>
                                    <button type="button" class="_19z0yzmr" data-qa="monthly-duration">Monthly</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a class="_1y5429d" href="https://support.skybet.com/s/article/Deposit-Limits-Limit-the-amount-you-can-deposit-each-day-week-or-month" target="_blank" data-qa="learn-more-about-deposit-limits">
                    Learn more about Deposit Limits</a>
                </div>